body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}

.teams{
  width: 50%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.teams li{
  text-align: center;
  font-size: 20px;
}