block content 
h1 Your favorite e-sport teams
ul(class="teams")
    li(class="optic")
        img(src="/images/optic.jpg", alt="Team Optic")
    li(class="kinguin")
        img(src="/images/kinguin.jpg", alt="Team Kinguin")
    li(class="faze")
        img(src="/images/faze.png", alt="Team Faze")
